html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

a {
  list-style: none;
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
  text-decoration: none;
}

.header_nav {
  font-family: "Shippori Mincho", serif;
  position: fixed;
  right: 0%;
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin: 2% 3% 0 0;
  z-index: 5;
  font-weight: 500;
}
.header_nav li :hover {
  opacity: 0.2;
}

@media screen and (max-width: 1024px) {
  .header_nav {
    width: 30%;
  }
  .footer {
    width: 100%;
    top: 95%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .header_nav {
    width: 40%;
  }
}
@media screen and (max-width: 480px) {
  .header_nav {
    width: 50%;
    font-size: 10px;
  }
  .footer {
    font-size: 10px;
    font-weight: 600;
  }
}
.blog_inner {
  width: 70%;
}

.blog_inner img {
  width: 100%;
  padding: 10% 0 0 15%;
}

.date {
  margin-top: 5%;
  font-size: 3rem;
  font-family: serif;
  padding-left: 15%;
}

.article_ttl {
  padding: 2% 0 2% 15%;
  font-size: 2rem;
  font-family: "Shippori Mincho", serif;
}

.article_txt {
  padding-left: 15%;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

.txt_btn {
  width: 100%;
  display: flex;
  margin-top: 15%;
  margin-bottom: 10%;
  justify-content: center;
  font-family: serif;
  font-weight: lighter;
}

.footer {
  position: fixed;
  text-align: center;
  margin-bottom: 5%;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 480px) {
  .blog_inner {
    width: 85%;
    margin: 0 auto;
  }
  .blog_inner img {
    width: 100%;
    padding: 10% 0 0 0;
  }
  .date {
    padding-left: 0%;
    margin-top: 15%;
    font-size: 1.2rem;
  }
  .article_ttl {
    padding: 3% 0 10% 0%;
    font-size: 1rem;
  }
  .article_txt {
    padding-left: 0%;
    font-size: 0.5rem;
    line-height: 1.2;
  }
  .txt_btn {
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 10%;
    font-size: 0.5rem;
  }
  .footer {
    font-size: 8px;
    font-weight: normal;
  }
}
