html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

a {
  list-style: none;
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
  text-decoration: none;
}

.header_nav {
  font-family: "Shippori Mincho", serif;
  position: fixed;
  right: 0%;
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin: 2% 3% 0 0;
  z-index: 5;
  font-weight: 500;
}
.header_nav li :hover {
  opacity: 0.2;
}

.footer {
  position: absolute;
  width: 100%;
  top: 92%;
  left: 0;
  font-size: 12px;
  color: #000;
  font-family: "Shippori Mincho", serif;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .header_nav {
    width: 30%;
  }
  .footer {
    width: 100%;
    top: 95%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .header_nav {
    width: 30%;
  }
}
@media screen and (max-width: 480px) {
  .header_nav {
    width: 40%;
    font-size: 10px;
  }
  .footer {
    font-size: 10px;
    font-weight: 600;
  }
}
.slider {
  width: 88%;
  margin: 0 auto;
}

.slider img {
  width: 100%;
  height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.slider .slick-slide {
  margin: 0 10px;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 42%;
  cursor: pointer;
  outline: none;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  height: 15px;
  width: 15px;
}

.slick-prev {
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {
  right: -1.5%;
  transform: rotate(45deg);
}

.slick-dots {
  text-align: center;
  margin: 50px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background: #ccc;
}

.slick-dots .slick-active button {
  background: #000;
}

.season1 > ul > {
  background: #fff;
}

main {
  padding-top: 10%;
}

.page_ttl {
  text-align: center;
  font-size: 5rem;
  font-weight: lighter;
  font-family: "Parisienne", cursive;
  margin-bottom: 5%;
}

.spring {
  font-family: "Parisienne", cursive;
  font-weight: lighter;
  font-size: 4rem;
  margin: 0 0 4% 5%;
  color: #E3A4B4;
}

.summer {
  font-family: "Parisienne", cursive;
  font-weight: lighter;
  font-size: 4rem;
  margin: 0 0 4% 5%;
  color: #F5B01E;
}

.autumn {
  font-family: "Parisienne", cursive;
  font-weight: lighter;
  font-size: 4rem;
  margin: 0 0 4% 5%;
  color: #A8752E;
}

.winter {
  font-family: "Parisienne", cursive;
  font-weight: lighter;
  font-size: 4rem;
  margin: 0 0 4% 5%;
  color: #C5D6EA;
}

.text_box {
  width: 20.2vw;
  height: 120px;
  background-color: #fff;
  opacity: 0.8;
  box-shadow: 10px 10px 10px #ddd;
  margin-bottom: 1%;
  font-size: 1rem;
  font-family: "Shippori Mincho", serif;
  font-weight: lighter;
}
.text_box h3 {
  padding: 5%;
}
.text_box h4 {
  padding: 5%;
}

.footer {
  position: relative;
  margin: 5% 0 5% 0;
  width: 100%;
  font-size: 12px;
  color: #000;
  font-family: "Shippori Mincho", serif;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .slider img {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  .slider img {
    width: 40.5vw;
    height: 200px;
  }
  .text_box {
    width: 40.5vw;
    height: 120px;
  }
  .page_ttl {
    font-size: 3rem;
  }
  .spring, .summer, .autumn, .winter {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .slider img {
    width: 60vw;
    height: 200px;
    margin: 0 auto;
  }
  .text_box {
    width: 60vw;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 1%;
  }
  .page_ttl {
    font-size: 5rem;
    margin-top: 5%;
    margin-bottom: 20%;
  }
  .spring,
.summer,
.autumn,
.winter {
    font-size: 3.5rem;
    margin: 15%;
  }
}
