@use "foundation";
@use "global" as *;

html,body{
  min-height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 214, 214, 1) 25%, rgba(245, 179, 187, 1) 50%, rgba(249, 141, 165, 1) 75%, rgba(233, 155, 156, 1) 100%);
  background-size: cover;
}

main {
  padding-top: 15%;
}

.page_ttl {
  @include pagettl;
  margin-bottom: 10%;
}

#contact{
  width: 80%;
  margin: 0 auto;
}

.box_inner{
  width: 100%;
  background-color: #fff;
  padding: 5% 0;
}

.contact_box {
  width: 85%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5%;
}

.contact_box._area {
  align-items: baseline;
}

.contact_form_ttl {
  width: 20%;
  height: 100%;
  margin-right: 10.5%;
  margin-left: 10%;
  font-size: 1.5rem;
  font-family: serif;
  position: relative;
}

.contact_form_box {
  height: 5vh;
  width: 50%;
  font-size: 1rem;
  border: 1px solid #B1B1B1;
  background-color: #ECECEC;
}

.contact_txtarea {
  width: 50%;
  height: 20vh;
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #B1B1B1;
  background-color: #ECECEC;
}



.contact_btn {
  width: 15%;
  margin: 0 auto;
  display: block;
  background-color: black;
  color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  font-size: 1rem;
  font-family: serif;
}


.footer {
  position: relative;
  width: 100%;
  font-size: 12px;
  padding: 5% 0;
  color: #fff;
  font-family: $fMintyo;
  font-weight: 600;
  text-align: center;
  
}

// レスポンシブ===============================================
@media screen and (max-width: 1024px) {

}


@media screen and (max-width: 768px) {
  .header_nav {
      width: 40%;
    }

    .page_ttl{
      font-size: 42px;
    }

    .contact_form_ttl{
      font-size: 12px;
    }

  .contact_txtarea {
    width: 50%;
    height: 30vh;
  }

  .contact_btn {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .header_nav {
    width: 50%;
  }

  .page_ttl{
    font-size: 32px;
  }

  .contact_box{
    display: block;
  }

  .contact_form_ttl{
    font-size: 12px;
    margin-right: 12%;
    margin-left: 0%;
  }

  .contact_form_box {
    height: 4vh;
    width: 96%;
  }

  .contact_txtarea {
    width: 90%;
    height: 20vh;
  }

  .contact_btn{
    width: 40%;
    font-size: 0.5rem;
  }

  .footer{
  padding: 20% 0 30% 0;
  font-size: 10px;
  }
}